.item-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  border: 1px solid #444;
}

.item-details .item-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.item-details .list-group-item {
  padding: .25rem;
}

.item-details .list-group-item .term{
  margin-right: .5rem;
}

.item-details button {
  margin-top: 5px;
}